FASE 2/[IPC2]Fase2_201020620/CD/QuetzalExpress/App_WebReferences/QuetzalReference/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://quetzalexpress.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://quetzalexpress.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://quetzalexpress.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getcod_cliente">
        <s:complexType />
      </s:element>
      <s:element name="getcod_clienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="getcod_clienteResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cargar_pedidos_cliente">
        <s:complexType />
      </s:element>
      <s:element name="cargar_pedidos_clienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cargar_pedidos_clienteResult">
              <s:complexType>
                <s:annotation>
                  <s:appinfo>
                    <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
                  </s:appinfo>
                </s:annotation>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cargar_cliente">
        <s:complexType />
      </s:element>
      <s:element name="cargar_clienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cargar_clienteResult">
              <s:complexType>
                <s:annotation>
                  <s:appinfo>
                    <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
                  </s:appinfo>
                </s:annotation>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cargar_tarjeta">
        <s:complexType />
      </s:element>
      <s:element name="cargar_tarjetaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cargar_tarjetaResult">
              <s:complexType>
                <s:annotation>
                  <s:appinfo>
                    <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
                  </s:appinfo>
                </s:annotation>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Logincliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginclienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginclienteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Loginempleado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginempleadoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginempleadoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="getcod_clienteSoapIn">
    <wsdl:part name="parameters" element="tns:getcod_cliente" />
  </wsdl:message>
  <wsdl:message name="getcod_clienteSoapOut">
    <wsdl:part name="parameters" element="tns:getcod_clienteResponse" />
  </wsdl:message>
  <wsdl:message name="cargar_pedidos_clienteSoapIn">
    <wsdl:part name="parameters" element="tns:cargar_pedidos_cliente" />
  </wsdl:message>
  <wsdl:message name="cargar_pedidos_clienteSoapOut">
    <wsdl:part name="parameters" element="tns:cargar_pedidos_clienteResponse" />
  </wsdl:message>
  <wsdl:message name="cargar_clienteSoapIn">
    <wsdl:part name="parameters" element="tns:cargar_cliente" />
  </wsdl:message>
  <wsdl:message name="cargar_clienteSoapOut">
    <wsdl:part name="parameters" element="tns:cargar_clienteResponse" />
  </wsdl:message>
  <wsdl:message name="cargar_tarjetaSoapIn">
    <wsdl:part name="parameters" element="tns:cargar_tarjeta" />
  </wsdl:message>
  <wsdl:message name="cargar_tarjetaSoapOut">
    <wsdl:part name="parameters" element="tns:cargar_tarjetaResponse" />
  </wsdl:message>
  <wsdl:message name="LoginclienteSoapIn">
    <wsdl:part name="parameters" element="tns:Logincliente" />
  </wsdl:message>
  <wsdl:message name="LoginclienteSoapOut">
    <wsdl:part name="parameters" element="tns:LoginclienteResponse" />
  </wsdl:message>
  <wsdl:message name="LoginempleadoSoapIn">
    <wsdl:part name="parameters" element="tns:Loginempleado" />
  </wsdl:message>
  <wsdl:message name="LoginempleadoSoapOut">
    <wsdl:part name="parameters" element="tns:LoginempleadoResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getcod_cliente">
      <wsdl:input message="tns:getcod_clienteSoapIn" />
      <wsdl:output message="tns:getcod_clienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="cargar_pedidos_cliente">
      <wsdl:input message="tns:cargar_pedidos_clienteSoapIn" />
      <wsdl:output message="tns:cargar_pedidos_clienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="cargar_cliente">
      <wsdl:input message="tns:cargar_clienteSoapIn" />
      <wsdl:output message="tns:cargar_clienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="cargar_tarjeta">
      <wsdl:input message="tns:cargar_tarjetaSoapIn" />
      <wsdl:output message="tns:cargar_tarjetaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Logincliente">
      <wsdl:input message="tns:LoginclienteSoapIn" />
      <wsdl:output message="tns:LoginclienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Loginempleado">
      <wsdl:input message="tns:LoginempleadoSoapIn" />
      <wsdl:output message="tns:LoginempleadoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://quetzalexpress.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getcod_cliente">
      <soap:operation soapAction="http://quetzalexpress.org/getcod_cliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargar_pedidos_cliente">
      <soap:operation soapAction="http://quetzalexpress.org/cargar_pedidos_cliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargar_cliente">
      <soap:operation soapAction="http://quetzalexpress.org/cargar_cliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargar_tarjeta">
      <soap:operation soapAction="http://quetzalexpress.org/cargar_tarjeta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logincliente">
      <soap:operation soapAction="http://quetzalexpress.org/Logincliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Loginempleado">
      <soap:operation soapAction="http://quetzalexpress.org/Loginempleado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://quetzalexpress.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getcod_cliente">
      <soap12:operation soapAction="http://quetzalexpress.org/getcod_cliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargar_pedidos_cliente">
      <soap12:operation soapAction="http://quetzalexpress.org/cargar_pedidos_cliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargar_cliente">
      <soap12:operation soapAction="http://quetzalexpress.org/cargar_cliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargar_tarjeta">
      <soap12:operation soapAction="http://quetzalexpress.org/cargar_tarjeta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logincliente">
      <soap12:operation soapAction="http://quetzalexpress.org/Logincliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Loginempleado">
      <soap12:operation soapAction="http://quetzalexpress.org/Loginempleado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://localhost:25850/QuetzalExpress/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://localhost:25850/QuetzalExpress/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>